
// Test comment
@import 'vendor'

$fonts = helvetica, arial, sans-serif
$color = #000

border-radius()
    -webkit-border-radius arguments % 5
    -moz-border-radius arguments * 5
    border-radius arguments + 5px

@media only screen and (max-device-width: 480px)
    a.button
        border-radius 5px

[hidden],
[hidden],
*,
input[disabled]
input[type="radio"]
button::-moz-focus-inner,
svg:not(:root),
audio:not([controls]),
a:hover,
a::before,
header,
.block,
#block
    font 12px Helvetica, Arial, $fonts
    background src('./asdasd.png')
    color lighten($color, 30%)
    box-sizing border-box
    font-weight 300
    margin 50px 10px
    content 'content'
    content "content"
